.currency_dropdown {
    width: 100%;
    height: 350px;
    background: white;
    box-shadow: 0 20px 66px 0 rgba(34, 48, 73, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px;
    overflow-y: scroll;
  }
  .currency_search {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
  }
  .currency_search input {
    width: 100%;
    height: 100%;
    padding: 14px;
    font-size: 16px;
    color: #384c70;
    outline: none;
    border: 1px solid #17bfff;
    border-radius: 4px;
  }
  .all_currrency {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .all_currrency ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  .currency_item {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 12px;
  }
  .currency_flag {
    width: 26px;
    height: 17px;
    margin-right: 5px;
  }
  .currency_flag img {
    width: 100%;
    height: 100%;
  }
  .currency_item:hover {
    background: #f2f5f7;
  }
  .currency_active {
    background: #2e4369;
  }